<body>
   <h1>Add and Delete Location</h1>
   <div id="add_location">
      <form id="new_location_form" class="add_delete_form" action="/locations" method="post">
         <fieldset>
            <legend>
               Add a New Location:
            </legend>
            <label>Name:
            <input type="text" name="service_name" size="30" maxlength="255" required></label>
            <br>
            <lable>Capacity:
            <input type="number" name="service_cost" size="30" max="255" required></lable>
            <br>
            <label>
            <input type="submit" value="Add Location"></label>
         </form>
         </fieldset>
   </div>
   <div id="display_locations" class="display_data">
      <table class="table table-bordered table-striped">
         <thead class="thead-dark">
            <tr>
               <th>
                  Location ID#
               </th>
               <th>
                  Name
               </th>
               <th>
                  Capacity
               </th>
               <th>
                   Modify
               </th>
            </tr>
         </thead>
         <tbody>
             {{#each locations}}
            <tr>
               <td>
                  {{location_id}}
               </td>
               <td>
                  {{name}}
               </td>
               <td>
                  {{capacity}}
              </td>
              <td>
                  <button onclick="window.location.href='/locations/{{location_id}}'">Update</button>
                  <button onclick="deleteLocation({{location_id}})">Delete</button>
              </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
</body>
