<html>
<body>
   <h1>Add and Delete People</h1>
   <div id="add_person">
      <form id="new_person_form" action="/people" method="post">
         <fieldset>
            <legend>
               Add a New Person:
            </legend>
            <label>Last Name:
            <input type="text" name="last_name" size="30" maxlength="255" required></label>
            <br>
            <lable>First Name:
            <input type="text" name="first_name" size="30" max="255" required></lable>
            <br>
            <label>Family ID#:
            <select name="family_id">
               {{#each families}}
               <option value="{{family_id}}">
                   {{family_id}}
               </option>
               {{/each}}
            </select></label>
            <br>
            <label>Date of Birth:
            <input type="date" name="date_of_birth" size="30" maxlength="15" required></label>
            <br>
            <label>Zip Code:
            <input type="number" name="zip_code" size="30" maxlength="30" required></label>
            <br>
            <label>State:
            <input type="text" name="state" size="30" max="2" required></label>
            <br>
            <label>Street Address:
            <input type="text" name="street_address" size="30" maxlength="255" required></label>
            <br>
            <label>
            <input type="submit" value="Add New Person"></label>
         </fieldset>
      </form>
   </div>
   <div id="search_person">
       <form id="search_person_form">
           <fieldset>
               <legend>
                   Search Person by Name
               </legend>
               <input id="first_name_search" type="text" name="first_name_search" maxlength="255"required>
               <input type="button" value="Search" onclick="searchPeopleByFirstName()">
               <input type="button" value="Reset" onclick="window.location.href='/people'">
           </fieldset>
       </form>
   </div>
   <div id="display_people" class="display_data">
      <table class="table table-bordered table-striped">
         <thead class="thead-dark">
            <tr>
               <th>
                  Person ID#
               </th>
               <th>
                  Last Name
               </th>
               <th>
                  First Name
               </th>
               <th>
                  Family ID#
               </th>
               <th>
                  Date of Birth
               </th>
               <th>
                  Zip Code
               </th>
               <th>
                  State
               </th>
               <th>
                  Street Name
               </th>
               <th>
                   Modify
               </th>

            </tr>
         </thead>
         <tbody>
            {{#each people}}
            <tr>
               <td>
                  {{person_id}}
               </td>
               <td>
                  {{lname}}
               </td>
               <td>
                  {{fname}}
               </td>
               <td>
                  {{family_id}}
               </td>
               <td>
                  {{formatDate date_of_birth day="numeric" month="numeric" year="numeric"}}
               </td>
               <td>
                  {{zip_code}}
               </td>
               <td>
                  {{state}}
               </td>
               <td>
                  {{street_name}}
               </td>
               <td>
                   <button>Update</button>
                   <button onclick="deletePerson({{person_id}})">Delete</button>
               </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
   <script js>
        document.getElementById("first_name_search").onkeydown = function(event) {
            if(event.keyCode === 13) {
                console.log("foo");
                event.preventDefault();
                if(this.value != ""){

                    searchPeopleByFirstName();

                }
            }
        }
   </script>
</body>
</html>
