   <h1>Add and Delete Service</h1>
<div id="add_service">
   <form id="new_service_form" class="add_delete_form" action="/services" method="post">
      <fieldset>
         <legend>
            Add a New Service:
         </legend>
         <label>Name:
         <input type="text" name="service_name" size="30" maxlength="255" required></label>
         <br>
         <lable>Cost:
         <input type="number" name="service_cost" size="30" maxlength="255" required></lable>
         <br>
         <label>Location ID#:
         <select name="location_id">
             {{#each locations}}
             <option value="{{location_id}}">
                 {{name}}
             </option>
             {{/each}}
         </select></label>
         <br>
         <label>
         <input type="submit" value="Add Service"></label>
      </fieldset>
   </form>
</div>
   <div id="display_service" class="display_data">
      <table class="table table-bordered table-striped">
         <thead class="thead-dark">
            <tr>
               <th>
                  Service ID#
               </th>
               <th>
                  Name
               </th>
               <th>
                  Cost
               </th>
               <th>
                  Location ID#
               </th>
               <th>
                  Location Name
               </th>
               <th>
                   Modify
               </th>
            </tr>
         </thead>
         <tbody>
             {{#each services}}
            <tr>
               <td>
                  {{service_id}}
               </td>
               <td>
                  {{service_name}}
               </td>
               <td>
                  {{cost}}
               </td>
               <td>
                  {{location_id}}
               </td>
               <td>
                  {{location_name}}
              </td>
              <td>
                  <button>Update</button>
                  <button onclick="deleteService({{service_id}})">Delete</button>
              </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
